.navbar {
  width: 80%;
  margin: auto;
  padding-inline: 10px;
  border-radius: 50px !important;
}
.navbar-nav .nav-link {
  font-family: "Playpen Sans Arabic", cursive;
  font-weight: bold;
  color: #0d335e !important;
  transition: 0.3s;
}
.navbar-nav .nav-link:hover {
  color: #FDF4E3 !important;
}
.dropdown-menu {
  background-color: #FEB21A;
  margin-top: 20px !important;
  font-family: "Playpen Sans Arabic", cursive;
}
.dropdown-menu .dropdown-item {
  color: #0d335e;

}

.dropdown-menu .dropdown-item:hover {
  background-color: #0d335e;
  color: #FDF4E3;
}

.navbar .navbar-toggler-icon {
  filter: invert(100%); 
}
.navbar .navbar-toggler {
  border:none;   
}

#home{
  background: linear-gradient(rgba(0, 0, 0, 0.575)),url(/imgs/home\ .jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
}
.home_contant{
  min-height: 90vh;
  font-family: "Playpen Sans Arabic", cursive;
}
.home_contant h1 {
  color: #FDF4E3;
  opacity: 0;
  animation: home_contant 2s ease-in-out forwards;
}

.home_contant h2 {
  color: #FEB21A;
  opacity: 0;
  animation: home_contant 2s ease-in-out forwards;
  animation-delay: 1s; 
}

.home_contant p {
  color: #FDF4E3;
  opacity: 0;
  animation: home_contant 2s ease-in-out forwards;
  animation-delay: 2s; 
}

@keyframes home_contant {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.home_contant button{
  background-color: #FEB21A;
  color: #134686;
  transition: all 0.5s ;
}
.home_contant button:hover{
  background-color: #FDF4E3;
}
.loader2 {
  width:40px;
  height: 78px;
  position: relative;
  box-sizing: border-box;
  border: 2px solid #fff;
  border-radius: 50% 50% 50% 50% / 25% 25% 25% 25%;
  margin-top: 50px;
}
.loader2::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  width: 4px;
  height: 4px;
  background: #FEB21A;
  border-radius: 10px;
  animation: scrollDown 1.5s linear infinite;
}
@keyframes scrollDown {
  0% {
    top: 15px;
    height: 4px;
    opacity: 1;
  }
  33% {
    top: 15px;
    height: 40px;
  }
  66% {
    top: 50px;
    height: 10px;
    opacity: 1;
  }
  100% {
    top: 56px;
    height: 4px;
    opacity: 0;
  }
}
#about{
  font-family: "Playpen Sans Arabic", cursive;
}
#about h1{
  color: #FEB21A;
}
#about p{
  color: #0d335e;
}
#about img {
  transform: rotate(-5deg);
  border: 10px solid #FEB21A;
  margin: 25px 0px;
  transition: all 0.5s;
  opacity: 0;
}

#about .about-yostos {
  transform: rotate(5deg);
  border: 10px solid #FEB21A;
  margin: 25px 0px;
  transition: all 0.5s;
  opacity: 0;
}
#about img.animate {
  animation: about_photos 2s ease-in-out forwards;
}
@keyframes about_photos {
  0% {
    opacity: 0;
    transform: rotateY(0deg); 
  }
  100% {
    opacity: 1;
    transform: rotate(-5deg);
  }
}

#count{
  background-color:  #FEB21A;
  font-family: "Playpen Sans Arabic", cursive;
}
#count p{
  color: #0d335e;
  font-family: "Playpen Sans Arabic", cursive;
  font-size: 50px;
}


#ayat {
  font-family: "Playpen Sans Arabic", cursive;
  margin-block: 100px;
}
#ayat h1 {
  color: #FEB21A;
  transform: translateY(-50px); 
}
#ayat p {
  color: #0d335e;
  font-size: 30px;
}
#ayat h1.animate,
#ayat p.animate {
  animation: aya_an 2s ease-in-out forwards;
}

@keyframes aya_an {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


#al_gwaiz{
  background:linear-gradient(#0d335eaf),url(/imgs/mirAlshohds.jpg);
  font-family: "Playpen Sans Arabic", cursive;
  color: #FDF4E3;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0;
}
#al_gwaiz.animate {
  animation: al_gwaiz_an 1.5s ease forwards;
}
@keyframes al_gwaiz_an{
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#alMosab2 h1 , #alMosab2 p{
  animation: al_gwaiz_an 1.5s ease forwards;
}
#alMosab2 button{
  background-color: #FEB21A;
  color: #0d335e;
  border: none;
  animation: al_gwaiz_an 1.5s ease forwards;
  transition: all 0.5s;
}
#alMosab2 button:hover{
  background-color: #0d335e;
  color: #FEB21A;
}
.loader {
  width: 15px;
  height: 20px;
  margin-left: 15px;
  background:#0d335e;
  display: inline-block;
  position: absolute;
  top: 60%;
  left: 25%;
  box-sizing: border-box;
  animation: bump 0.4s ease-in infinite alternate;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 0);
  position: absolute;
  border: 15px solid transparent;
  border-top-color: #0d335e;
}

@keyframes bump {
  0% {
    transform: translate(-50%, 5px);
  }
  100% {
    transform: translate(-50%, -5px);
  }
}
    
#icona{
  font-family: "Playpen Sans Arabic", cursive;
  color: #134686;
}
#icona img{
  background-color: #FEB21A;
  padding: 10px;
}
.img-box {
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 100%;              
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  opacity: 0;
  transition: all 0.5s ease;  
  padding: 15px;
  color: #FDF4E3;
  font-family: "Playpen Sans Arabic", cursive;
  overflow-y: auto;  
  text-align: center;
  display: flex;
  align-items: flex-start; 
  justify-content: flex-start;

}
.img-box:hover .overlay {
  top: 0;     
  opacity: 1; 
}
.overlay p {
  font-size: 14px;
  line-height: 1.6;
}
#topBoys{
  background-color: #134686;
  font-family: "Playpen Sans Arabic", cursive;
  color: #FDF4E3;
}












